*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: cadetblue;
  color: aliceblue;
}

h1{
  font-weight: bolder;
}

.wrapper{
  height: 100vh;
}

.correct{
  color: lawngreen;
}

.wrong{
  color: firebrick;
}